# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Ignore environment variables file
/lib/.env

# Android signing
/android/key.properties
/android/**/*.keystore
/android/**/*.jks
/android/app/upload-keystore.jks
/android/app/keystore.properties
/android/**/service-account*.json

# iOS signing
/ios/**/*.mobileprovision
/ios/**/*.p12
/ios/**/*.cer
/ios/fastlane/report.xml
/ios/fastlane/Preview.html
/ios/fastlane/screenshots
/ios/fastlane/test_output
/ios/fastlane/.env
/ios/Gemfile.lock

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/.env

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Secret files
.env
cloud_functions/.env
